@()(implicit ctx: MyContext[_])

@base.layout() {
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="well" style="height: 600px">
          <h1 style="text-align: center">Main Page</h1>

          <p style="font-size: 20px; text-align: center; margin-top: 15px">
            @ctx.me match {
              case None => {
                You are anonymous.
              }
              case Some(user) => {
                You are currently logged in as @{user.email}.
              }
            }
          </p>
        </div>
      </div>
    </div>
  </div>
}
